@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000;
    overflow-x: hidden;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(180deg, #27E1C1,#0081B4);
}
::-webkit-scrollbar{
    width: 8px;
    height: 0px;
}